.main-btn{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 10px;
}
.white-btn{
border: 2px solid white;
color: white;
}

.dark-btn{
    border: 2px solid black;
color: black;
}